.homeContainer {
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.formHome {
  flex-direction: column;
  align-items: center;
}
.inputHome {
  height: 30px;
  margin-bottom: 5px;
}
.buttonHome {
  border: none;
  width: 90px;
}
