.pokedex button{
    background: #742222;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.pokemonName{
    margin-top: 10px;
    font-size: 70px;
}

.pokemonContainer{
    width: 70%;
    margin: 30px auto;
    height: min-content;
    padding: 30px 30px 10px 30px;
    background-color: aliceblue;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
.containImg{
    grid-row: 1/4;
}
.containImg img{
    width: 300px;
}
.types{
    justify-content: center;
}
.types h4{
    margin: 10px;
    padding: 5px 10px;
}

.pokemonInfo h3{
    margin: 0 20px;
}
