.pokedex {
  box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.5);
  padding: 20px 0;
}
.searchBar {
  margin: 10px 0;
  justify-content: center;
}
.inputPokedex {
  padding-left: 10px;
  width: 50vw;
  margin: 0 10px;
  height: 30px;
}
.btnSearch {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px ridge #6e6e6e;
}
.selectPokedex {
  height: 30px;
}
.pokemonCard {
  width: 250px;
  height: auto;
  display: inline-block;
  background: linear-gradient(to bottom right, green, yellow);
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  transition: all 500ms ease-out;
}